<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Taipei Trip 台北一日遊</title>
  <link rel="stylesheet" href="template.css">
</head>

<body>
  <nav class="navigation">
    <div class="nav-container">
      <span class="nav-text">
        台北一日遊
      </span>
      <div class="frame2">
        <div class="frame1">
          <div class="nav-button1">
            <span class="nav-button1-text">預定行程</span>
          </div>
          <div class="nav-button2">
            <span class="nav-button2-text">登入/註冊</span>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="hero-section">
    <img class="welcome-picture" src="/picture/taipei101.png">
    <div class="slogan">
      <div class="container">
        <div class="slogan-container">
          <div class="slogan-main">
            輕鬆享受台北一日悠閒
          </div>
          <div class="slogan-sub">
            探索每個角落，體驗城市的深度旅遊行程
          </div>
        </div>
        <div class="search">
          <div class="search-bar">
            <div class="search-input">
              <div class="search-input-border">
                <input class="search-input-text" type="text" name="search" id="search" placeholder="輸入景點名稱查詢">
              </div>
            </div>
            <div class="search-btn">
              <div class="search-btn-bg" onclick="search()">
                <div class="search-btn-icon">
                  <img src="/picture/desktop/search.png" width="30" height="30">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <main>
    <div class="main-container">
      <div class="list-bar">
        <div class="left-container">
          <div class="button-arrow">
            <img src="/picture/desktop/arrow-left.png" width="32" height="32">
          </div>
        </div>
        <div class="middle-container">
          <div class="listItem-container">

          </div>
        </div>
        <div class="right-container">
          <div class="button-arrow">
            <img src="/picture/desktop/arrow-right.png" width="32" height="32">
          </div>
        </div>
      </div>
      <div class="attractions">
        <div class="attractions-group">

        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="copyright-container">
      <span class="copyright">COPYRIGHT © 2021 台北一日遊</span>
    </div>
  </footer>

  <script>
    function getPage(page) {

      const keyword = document.querySelector(".search-input-text").value

      url = '/api/attractions?page=' + page + '&keyword=' + keyword
      // console.log(url)

      fetch(url, { method: 'get' })
        .then(response => response.json())
        .then(responseJson => {
          if (responseJson["error"]) {
            attractionsGroup.innerText = "搜尋不到資料"
          } else {
            if (count[page]) {  //若該頁數API已呼叫過，則僅計數且不再重複增加景點
              count[page] += 1
              return
            } else {
              count[page] = 1

              const data = responseJson["data"]
              data.forEach(item => {

                const attraction = document.createElement("div");
                attraction.classList.add("attraction");
                attraction.innerHTML =
                  `
            <img class="attraction-img" src="${item["images"][0]}" width="270" height="197">
            <div class="details-middle">
              <div class="name-bg">
                <div class="name-info">
                  <span class="name">${item["name"]}</span>
                </div>
              </div>
            </div>
            <div class="details-bottom">
              <div class="details-info">
                <span class="mrt">${item["mrt"]}</span>
                <span class="category">${item["category"]}</span>
              </div>
            </div>          
          `
                attractionsGroup.appendChild(attraction);
              });
              nextPage = responseJson["nextPage"]
              // console.log(count)
            }
          }

        })
        .catch(error => console.error("Error:", error))
    }

    function getMrts() {
      url = '/api/mrts'
      fetch(url, { method: 'get' })
        .then(response => response.json())
        .then(responseJson => {
          mrtList = responseJson["data"]

          for (i = 0; i < mrtList.length; i++) {
            const mrt = document.createElement("div");
            mrt.classList.add("listItem");
            mrt.innerHTML =
              `<div class="itemText" onclick="mrtAttractions('${mrtList[i]}')">${mrtList[i]}</div>`
            listItemContainer.appendChild(mrt);
            mrtDict[mrtList[i]] = i;
          };
        })
        .catch(error => console.error("Error:", error))
    }

    function mrtBars(start) {

      while (listItemContainer.firstChild) {
        listItemContainer.removeChild(listItemContainer.lastChild);
      }

      for (i = start; i < mrtList.length; i++) {
        const mrt = document.createElement("div");
        mrt.classList.add("listItem");
        mrt.innerHTML =
          `<div class="itemText" onclick="mrtAttractions('${mrtList[i]}')">${mrtList[i]}</div>`
        listItemContainer.appendChild(mrt);
      };
    }

    function search() {
      count = {}

      while (attractionsGroup.firstChild) {
        attractionsGroup.removeChild(attractionsGroup.lastChild);
      }

      getPage(0)

      const intersectionObserver = new IntersectionObserver(
        (entries) => {
          if (entries[0].isIntersecting) {
            if (nextPage !== null) {  // 有nexPage才呼叫API
              getPage(nextPage)
            }
          }
        }
      );

      intersectionObserver.observe(
        document.querySelector('footer')
      );
    }

    function mrtAttractions(mrt) {

      document.querySelector(".search-input-text").value = mrt;
      search();

    }

    let nextPage = 0
    let count = {}
    let mrtList = []
    let mrtDict = {}
    const attractionsGroup = document.getElementsByClassName("attractions-group")[0]
    const listItemContainer = document.getElementsByClassName("listItem-container")[0]
    const rightArrow = document.getElementsByClassName("right-container")[0]
    const leftArrow = document.getElementsByClassName("left-container")[0]


    getMrts(0);
    search();


    rightArrow.addEventListener('click', () => {
      const firstMrt = listItemContainer.firstElementChild.innerText
      let start = mrtDict[firstMrt]

      if (document.body.clientWidth > 360) {
        if (start === 0) {
          start = 14;
        } else {
          start = 19;
        }
      } else {
        start += 2;
        if (start + 2 > mrtList.length - 1) { start = mrtList.length - 4; }
      }

      return mrtBars(start)
    })

    leftArrow.addEventListener('click', () => {
      const firstMrt = listItemContainer.firstElementChild.innerText
      let start = mrtDict[firstMrt]

      if (document.body.clientWidth > 360) {
        if (start === 19) {
          start = 5;
        } else {
          start = 0;
        }
      } else {
        start -= 2;
        if (start < 0) { start = 0; }
      }

      return mrtBars(start)
    })

  </script>
</body>

</html>